body {
  margin-top: 70px;
}

.navbar-brand > img {

  margin-top: -6px;
  margin-right: 10px;

  height: 40px;
  width: 40px;

  display: inline-block;
}

.navbar-brand {
  padding: 12px;
}

.navbar-header {
  display: inline-block;
}

.navbar-toggle {
  float: right;
}

.rightborder {
    border-right: 3px solid #ccc;
}

.leftborder {
    border-left: 3px solid #ccc;
}

.ask-margin-left {
  margin-top: 120px;
  margin-left: 85px;
}

.ask-margin-right {
  margin-top: 120px;
  margin-right: 85px;
}

.w3-container{padding:0.01em 16px
}
.w3-blue{color:#fff !important;background-color:#333 !important
}
.w3-black{color:#fff !important;background-color:#191919 !important
}
.w3-card-4{box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}
.shadoww{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
