body {
  margin-top: 70px;
}

.navbar-brand > img {

  margin-top: -6px;
  margin-right: 10px;

  height: 40px;
  width: 40px;

  display: inline-block;
}

.navbar-brand {
  padding: 12px;
}

.navbar-header {
  display: inline-block;
}

.navbar-toggle {
  float: right;
}

.rightborder {
    border-right: 3px solid #ccc;
}

.leftborder {
    border-left: 3px solid #ccc;
}
